.bot-message {
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

.user-message {
    background-color: #FFE800;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

.create-framework-button {
    background-color: #21449b;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}
